/* Estilos generales */
body {
    background: linear-gradient(to bottom, #ff4400bb, #ffa600b7, #ffd9007a);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Encabezado */
header {
    background-color: #2C3E50; /* Azul marino */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
header h1 {
    color: #ff9334c5; /* Naranja claro */
}

/* Secciones */
section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(255, 245, 230, 0.8); /* Naranja muy suave, semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Propiedades */
.propiedad {
    background-color: #FFF5E6; /* Naranja muy suave */
    border: 1px solid #f48019ad; /* Naranja claro */
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
}

.propiedad img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Botones */
button {
    background-color: #2C3E50; /* Azul marino */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #1A242F; /* Azul marino más oscuro */
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ff7700; /* Naranja claro */
    border-radius: 5px;
}

textarea {
    height: 100px;
}

/* Títulos */
h1, h2, h3 {
    color: #2C3E50; /* Azul marino */
}